<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="pencil.png">
		<title>St. Benedict Quiz-Grade-O-Matic</title>
		<style>
			* {
				font: 12px sans-serif;
			}
			#app {
				max-width: 600px;
				margin: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}
			.first-div {
				margin-top: 1%;
			}
			.subdiv {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-top: 1%;
			}
			.subdiv > * {
				margin-top: 1%;
			}
			.title {
				font: 16px sans-serif;
			}
			.indent {
				margin-left: 4%;
			}
			ul {
				margin: 0;
			}
			table,
			tr,
			td {
				border: 1px solid rgb(182, 199, 214);
				border-collapse: collapse;
			}
			.col-head {
				background-color: rgb(182, 199, 214);
			}
			table {
				table-layout: fixed;
				width: 100%;
				align-self: center;
			}
			#bigtable {
				margin-bottom: 5%;
			}
			td {
				padding: 1%;
				text-align: center;
				white-space: normal;
				word-wrap: break-word;
			}
			.it {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<span class="title">St. Benedict Quiz-Grade-O-Matic</span>
			<div class="first-div subdiv">
				<span>Assuming the scale:</span>
				<ul>
					<li>3 is 90% or above.</li>
					<li>2 is 70% to 89%.</li>
					<li>1 is 69% or below.</li>
				</ul>
				<span>(<span class="it">Details</span>: Quiz scores often don't break evenly, so a breaking method has to be chosen. The formula here chooses the more generous method of breaking grades. For example, with a 7-point quiz, a score of 7/7 is 100%, and a score of 6/7 is 85%. The formula here chooses to make a 6/7 and a 7/7 both score a "3", instead of only giving a 7/7 a "3".)
			</div>
			<div class="subdiv">
				<span>Grade breaks for a specific quiz or test:</span>
				<span class="indent"
					>Point Total: <input type="tel" v-model="pointTotal" maxlength="5"
				/></span>
				<table>
					<tr>
						<td class="col-head">Point Total</td>
						<td class="col-head">1</td>
						<td class="col-head">2</td>
						<td class="col-head">3</td>
					</tr>
					<tr>
						<td>{{ pointTotal }}</td>
						<td v-for="value in [1, 2, 3]" :key="value">
							{{cutoff(pointTotal, value)}}
						</td>
					</tr>
				</table>
			</div>
			<div class="subdiv">
				<span>Table of all grade breaks:</span>
				<table id="bigtable">
					<tr>
						<td class="col-head">Point Total</td>
						<td class="col-head">1</td>
						<td class="col-head">2</td>
						<td class="col-head">3</td>
					</tr>
					<tr
						v-for="pointTotal2 in [...new Array(97).keys()].map(x=>x+4)"
						:key="pointTotal2"
					>
						<td
							:style="{'background-color': pointTotal2 % 2 === 1 ? 'rgb(211, 231, 250)' : 'white'}"
						>
							{{ pointTotal2 }}
						</td>
						<td
							:style="{'background-color': pointTotal2 % 2 === 1 ? 'rgb(211, 231, 250)' : 'white'}"
							v-for="value in [1, 2, 3]"
							:key="value"
						>
							{{cutoff(pointTotal2, value)}}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<script
			type="text/javascript"
			src="https://unpkg.com/vue@3.2.8/dist/vue.global.js"
		></script>
		<script type="text/javascript">
			const app = Vue.createApp({
				data() {
					return {
						pointTotal: 20,
					};
				},
				methods: {
					cutoff(pointTotal, value) {
						let breaks = {};
						breaks[1] = Math.floor(0.9 * pointTotal);
						breaks[2] = Math.floor(0.7 * pointTotal);
						if (value === 3) {
							if (breaks[1] === pointTotal) {
								return `${breaks[1]} points`;
							} else {
								return `${breaks[1]} points or above`;
							}
						} else if (value === 2) {
							if (breaks[1] - 1 === breaks[2]) {
								return `${breaks[2]} points`;
							} else {
								return `${Math.min(breaks[1] - 1, breaks[2])} to ${Math.max(breaks[1] - 1, breaks[2])} points`;
							}
						} else if (value === 1) {
							if (breaks[2] - 1 === 1) {
								return `${breaks[2] - 1} point or below`;
							} else if(breaks[2] - 1 === 0) {
								return `${breaks[2] - 1} points`;
							} else {
								return `${breaks[2] - 1} points or below`;
							}
						} else {
							return NaN;
						}
					},
				},
			});
			app.mount('#app');
		</script>
	</body>
</html>
